/* Style for channel selection buttons */
.channel-button {
    -fx-background-color: #424242; /* Dark background color */
    -fx-text-fill: white; /* White text color */
    -fx-font-size: 14px; /* Font size */
    //-fx-pref-width: 120px; /* Preferred width */
    //-fx-pref-height: 40px; /* Preferred height */
    -fx-padding: 5px 10px; /* Inner margins */
    -fx-border-radius: 5px; /* Corner radius */
    -fx-background-radius: 5px; /* Background corner radius */
    -fx-border-color: #1F1F1F; /* Dark border color */
    -fx-border-width: 2px; /* Border thickness */
}

/* Style for channel selection buttons on mouse hover */
.channel-button:hover {
    -fx-background-color: #5E5E5E; /* Darker background color on hover */
    -fx-border-color: #3E3E3E; /* Border color change on hover */
}

/* Style for channel selection buttons when pressed */
.channel-button:pressed {
    -fx-background-color: #2E2E2E; /* Even darker background color when pressed */
    -fx-border-color: #0F0F0F; /* Border color change when pressed */
}
