/* Style for server buttons */
.server-button {
    -fx-background-color: #2196F3; /* Background color */
    -fx-text-fill: white; /* Text color */
    -fx-font-size: 14px; /* Font size */
    -fx-padding: 10px 20px; /* Inner margins */
    -fx-border-radius: 5px; /* Border radius */
    -fx-background-radius: 5px; /* Background border radius */
    -fx-border-color: #1565C0; /* Border color */
    -fx-border-width: 2px; /* Border width */
    //-fx-min-width: 120px; /* Minimum width */
}

/* Style for server buttons on mouse hover */
.server-button:hover {
    -fx-background-color: #1E88E5; /* Changed background color on hover */
}

/* Style for server buttons when pressed */
.server-button:pressed {
    -fx-background-color: #1976D2; /* Changed background color when pressed */
}
